<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tabla periódica" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Gary Campusano" />
    <title>Tabla periódica</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/flexBox.css" />
    <link rel="stylesheet" href="/assets/css/categoriaElements.css" />
    <link rel="stylesheet" href="/assets/css/btn.css" />
    <link rel="stylesheet" href="/assets/css/ContentElement.css" />
  </head>
  <body class="contenedor">
    <h1>Tabla Periódica</h1>
    <div class="container">
      {{#each elementos as |element|}}
        {{#if (verificate element.atomic_number)}}
          <div class="element {{element.symbol}} {{element.category}}">
            <span class="atomic-number">{{element.atomic_number}}</span><br />
            <span class="symbol">{{element.symbol}}</span><br />
            <span class="name">{{element.name}}</span>
          </div>
        {{else}}
          <div class="element eliminado"></div>
        {{/if}}
      {{/each}}
    </div>

    <div class="leyendConteiner">
      <div class="leyend categoria-metal-alcalino"> Alcalinos</div>
      <div class="leyend categoria-metal-alcalinoterreo">
        Alcalineotérreo
      </div>
      <div class="leyend categoria-metales-transicion"> Transición</div>
      <div class="leyend categoria-lantanido"> Lantánidos </div>
      <div class="leyend categoria-actinido"> Actínidos</div>
      <div class="leyend categoria-oTROSMETALES">O.metales</div>

      <div class="leyend categoria-metalaloides"> Metaloides</div>
      <div class="leyend categoria-NOMETALES"> O.N.metales</div>
      <div class="leyend categoria-halogeno"> Halógenos</div>
      <div class="leyend categoria-gas-noble"> Gases nobles</div>
      <script src="/eliminar.js"></script>
    </div>
    <footer>
      <p>&copy; 2024 Gary Campusano. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
